<header class="header bg_primary" role="banner">
    <div class="grid columns-2 size-1sm-1lg gap-2">
        <div class="flex-simple 
        sm:items-center sm:justify-center
        md:items-start md:justify-start
        lg:items-start lg:justify-start"
        >
            <h1 class="text_white"> {{ title }} </h1>
            {% if intro %}
                <p> {{ intro }} </p>
            {% endif %}
            <form id="netlify-id8594757" class="form">
                <label for="email"></label>
                <input type="text" id="email" name="email" placeholder="Enter Your Email">
                <button type="submit" class="button">Subscribe</button>
            </form>
        </div>
        <div class="flex-stretch">
        {% if BannerImagePath %}
            <img class="image image-overlay" src="{{ BannerImagePath }}" alt="Image Alt Text" title="Image Title">
        {% endif %}
        <div>
    </div>
</header>