<header class="banner_home-background">
    <div class="grid columns-2 max-width-1200 ">
        <div
            data-aos="fade-up"
            data-aos-easing="linear"
            data-aos-duration="300"
            class="banner_home-cat">
          <h1> Compare Health Plans</h1>
          <p>Technology to determine options, <br> Humanity to help you choose.</p>
            <form 
              id="clientsZipCode" 
              class="cat__zipcode">
                <label for="zipCode"></label>
                <input type="text" id="zipCode" placeholder="ZIP CODE">
                <a class="button" href="/get-quote">Search Plans</a>
            </form>
        </div>
        <div  data-aos="fade-left" class="banner_home-image-container">
            <img class="banner_home-image-2" src="/images/homepage/homepage-banner.jpg" alt="Couple">
        <div>
    </div>
</header>