 <div class="topbar">
    <div class="topbar-content">
        <a href="/">
            <img class="logo" src="/images/logo.png" alt="LOGO">
        </a>
        <div class="support">
            <h2>
                <span>Free Expert Advice</span>
                {# <svg width="32" height="32" fill="var(--color-primary)">
                    <use href="svg/icon.svg#phone"></use>
                </svg> #}
                (877) 579-0822
                <span class="agentAvailable"><span class="green-circle"></span> Expert Agents Available Now</span>
            </h2>
            <img src="/images/expert-agent.png" alt="female">
        </div>
    </div>
</div>