{% extends 'layouts/base.njk' %}
{% set pageType = 'Page' %}
{# Intro content #}
{% set introHeading = title %}
{% set introSummary %}{{ content | safe }}{% endset %}
{# Post list content #}
{% set postListHeading = 'All posts' %}
{% set postListItems = collections.posts %}
{% block content %}
  {% include "partials/banner/base.njk" %}
  <main id="main-content" tabindex="-1">
    {% include "partials/components/post-list.njk" %}
  </main>
{% endblock %}
{{ content | safe }}