{% extends 'layouts/base.njk' %}
{% set pageType = 'Page' %}
{% block content %}
    {% include "banner/base.njk" %}
    <main id="main-content" tabindex="-1">
        {% include "partials/form/form.njk" %}
        {% include "content/contact.njk" %}
    </main>
{% endblock %}
{{ content | safe }}