{% extends 'layouts/base.njk' %}
{% set pageType = 'Page' %}
{% set postListHeading = 'Recent posts' %}
{% set postListItems = collections.posts %}
{% block content %}
    {% include "partials/banner/base.njk" %}
    <main id="main-content" tabindex="-1">
        {% include "content/homepage.njk" %}
    </main>
{% endblock %}
{{ content | safe }}