{# layouts #}
{% extends 'layouts/base.njk' %}
{# Post list content #}
{% set postListHeading = 'All posts' %}
{% set postListItems = collections.posts %}
{# block content#}
{% block content %}
    {# homepage banner #}
    {% include "partials/banner/base.njk" %}
    {# Post list content #}
    <main id="main-content" tabindex="-1">
        {# homepage content#}
        {% include "content/homepage.njk" %}
    </main>
{% endblock %}
{{ content | safe }}