{% extends 'layouts/base.njk' %}
{% set pageType = 'Post' %}



{# Intro content #}
{% set introHeading = title %}


{% set introSummary %}
<p class="">
  {% if date %}
    <time datetime="{{ date | w3DateFilter }}" class="dt-published">{{ date | dateFilter }}</time>
  {% endif %}
  <span>— {{ helpers.getReadingTime(content) }} minute read</span>
</p>
{% endset %}

{% block content %}
{% include "partials/banner/base.njk" %}
  <main id="main-content" tabindex="-1">
    <article class="grid max-width-768">
      {% include "partials/components/intro.njk" %}
      <div class="{{ 'pad-bottom-900' if not site.enableThirdPartyComments }}">
        {{ content | safe }}
      </div>
      {% if site.enableThirdPartyComments %}
        <aside class="">
          {% include "partials/global/third-party-comments.njk" %}
        </aside>
      {% endif %}
      {% if tags %}
        <footer class="">
          <div class="">
            <div class="">
              <h2 class="">Filed under</h2>
              <ul class="">
                {% for item in tags %}
                  <li class="">
                    <a href="/tags/{{ item }}">{{ item }}</a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </footer>
      {% endif %}
    </article>
  </main>
{% endblock %}
{{ content | safe }}
