<section class="block">
    <div class="grid columns-3">
        {% include "template/card-simple.njk" %}
    </div>
</section>

<section class="block">
    <div class="grid columns-1">
        {% include "template/introduction.njk" %}
    </div>
</section>

<section class="block">
    <div class="grid columns-3">
        {# {% include "collections/homepage/card-1.njk" %} #}
    </div>
</section>

<section class="block">
    <div class="grid columns-1 max-width-768">
        <div>
        {# {% include "partials/accordion/accordion.njk" %}
        {% include "partials/dropdown/dropdown.njk" %} #}
        </div>
    </div>
</section>

<section>
    <div class="grid columns-1 max-width-768">
        <div>
        {# {% include "partials/post-list/post-list.njk" %} #}
        </div>
    </div>
</section>