<footer role="contentinfo" id="footer" class="background-quaternary">
    <div class="grid">
        <div>
            {% include "partials/components/nav.njk" %}
            <theme-toggle></theme-toggle>
          </div>
        <div>
            <p>
              {# <svg width="32" height="32" fill="#fff"><use href="/_assets/svg/icon.svg#phone"></use></svg>Speak with an Expert Agent #}
            </p>
            <h3>(877) 579-0822</h3>
            <nav>
                <ul>
                    <li>
                        <a href="/">Terms of Use</a>
                    </li>
                    <li>
                        <a href="/"> Privacy Policy</a>
                    </li>
                </ul>
                </nav>
            <p>1525 NW 167th St, Miami Gardens, FL 33169</p>

            <div class="copyright">
                <p> © <span id="currentYear"></span> Copyright Health Care Market Exchange. All Rights Reserved
                </p>
            </div>
        </div>
    </div>
</footer>
