<!DOCTYPE html>
<html lang="en" class="no-js">
<!-- PAGE HEAD -->
{% include "partials/head/head.njk" %}{% block head %}{% endblock %}
<body>
<!-- PAGE NAVBAR -->
{% include "partials/navigation/navbar.njk" %}
{% include "partials/navigation/drawer.njk" %}
<!-- PAGE CONTENT -->
{% block content %}{% endblock content %}
<!-- PAGE FOOTER -->
{% include "partials/footer/footer.njk" %}{% block foot %}{% endblock %}
</body>
</html>