<!DOCTYPE html>
<html lang="en" class="no-js">
<!-- include head | Block head -->
{% include "partials/head/head.njk" %}{% block head %}{% endblock %}
<body>
<!-- include drawer | Block nav-->
{% include "partials/navigation/navbar.njk" %}
{% include "partials/navigation/drawer.njk" %}
<!-- Block page -->
{% block content %}{% endblock content %}
<!-- include footer | Block footer -->
{% include "partials/footer/footer.njk" %}{% block foot %}{% endblock %}
</body>
</html>