{% extends 'page/contact.njk' %}
{% set pageType = 'Contact' %}

{% block content %}
  <main id="main-content" tabindex="-1">
    {# {% include "partials/components/form/form.njk" %} #}
  </main>
{% endblock %}
