<!-- FOOTER -->

<footer id="footer">
    <div class="grid"></div>
    <div class="footer__copyright">
        <p> © <span id="currentYear"></span> Copyright {{ site.name }}. All Rights Reserved</p>
    </div>
</footer>

<!-- JAVASCRIPT -->

{# Site Js File #}
<script src="{{ site.staticAssetPath.js }}" type="text/javascript"></script>

{# Page Js File #}
{% if PageJSPath %}
    <script src="{{ PageJSPath }}" type="text/javascript"></script>
{% endif %}

{# Loads Critial JS in all Pages #}
{% include "static/js/LoadJS.njk" %}

<!-- serviceWorker -->
<script>
if ('serviceWorker' in navigator) {
    window.addEventListener('load', () => {
    navigator.serviceWorker.register('/service-worker.js');
    });
}
</script>

<!-- netlify-identity -->
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js" async defer></script>

