<head>

   <!-- meta-info -->
  {% include "partials/global/meta-info.njk" %}

  <!-- feed -->
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.url }}/feed.xml" />
  
  <!-- icon -->
  <link rel="icon" href="{{ site.faviconPath }}" type="image/png" />

  <!-- link page csss -->
  <link rel="stylesheet" type="text/css"  href="{{ cssPath }}" />

  <!-- include critical css -->
  {% include "static/css/LoadCSS.njk" %}

  <!-- no-js -->
  <script>document.documentElement.classList.remove('no-js');</script>

</head>