<head>

   <!-- meta-info -->
  {% include "partials/global/meta-info.njk" %}

  <!-- feed -->
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.url }}/feed.xml" />
  
  <!-- icon -->
  <link rel="icon" href="{{ site.faviconPath }}" type="image/png" />


  <!-- CSS Inline  -->
  {% include "static/css/inline/InlineCSS.njk" %}

  <!-- CSS Stylesheet Paths -->
  <link rel="stylesheet" type="text/css"  href="{{ site.staticAssetPath.css }}" />

  <!-- CSS Page Path -->
  {% if PageCSSPath %}
    <link rel="stylesheet" type="text/css"  href="{{ PageCSSPath }}" />
  {% endif %}



  <!-- no-js -->
  <script>document.documentElement.classList.remove('no-js');</script>

</head>