<head>

  <!-- styles -->
  <link rel="stylesheet" href="/_assets/css/styles.css">

  <!-- fonts -->
  <link href="https://fonts.googleapis.com/css?family=Archivo+Black|Open+Sans&display=swap" rel="stylesheet">

  <!-- feed -->
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.url }}/feed.xml" />
  
  <!-- icon -->
  <link rel="icon" href="{{ site.faviconPath }}" type="image/png" />

  <!-- Block Meta-Info -->
  {% include "partials/global/meta-info.njk" %}
  <script>document.documentElement.classList.remove('no-js');</script>

</head>