.card {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    box-shadow: rgba(46, 41, 51, 0.4) 0px 1px 2px, rgba(71, 63, 79, 0.489) 0px 2px 4px;
    background-color: #ffffff;
    margin-bottom: 1.5rem;
    margin-left: 0rem;
    margin-right: 0rem;
    padding: 2rem;
    border-radius: 4px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 150ms cubic-bezier(0.4, 0, 0.2, 1) 0s, padding 150ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.card:hover {
    transform: translateY(-0.18rem);
    box-shadow: rgba(0, 0, 0, 0.448) 0px 3px 6px, rgba(0, 0, 0, 0.496) 0px 6px 12px;
}


.card__mail-bar {
	height: 12px;
	width: 100%;
	background: var(--theme-ui-colors-newsletter-background,#ffffff) repeating-linear-gradient( 135deg,var(--theme-ui-colors-newsletter-stripeColorA,#ff5a54),var(--theme-ui-colors-newsletter-stripeColorA,#ff5a54) 20px,#0000 20px,#0000 40px,var(--theme-ui-colors-newsletter-stripeColorB,#3fa9f5) 40px,var(--theme-ui-colors-newsletter-stripeColorB,#3fa9f5) 60px,#0000 60px,#0000 80px );
}

.card__mail-container {
	background: #fafafa !important
}

.card__mail-form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	min-height: 200px;
}

.card__mail-field {
	width: 100%;
	border: 1px solid var(--color-light);
	background: white;
}