/* 

form
-------------------------------------

*/
input {
    cursor: text;
    color: #000 !important;
    display: block;
    border: none;
    font-size: 1em;
    padding: 1rem;
    border-radius: 2px;
}


input {
    transition: background .5s ease-out;
}

input {
    border: 1px solid #ddd;
}

input:invalid {
    background: #fff3f3ba;
}

input:valid {
    background: #eaf2ffbf;
}

input::placeholder {
    font-size: 0.8rem;
    font-style: italic;
}

::-webkit-input-placeholder {
    color: #b9b9b9;
}

::-moz-placeholder {
    color: #b9b9b9;
}

:-ms-input-placeholder {
    color: #b9b9b9;
}

:-moz-placeholder {
    color: #b9b9b9;
}