.navbar {
	position: relative;
	display: block;
	top: 0;
	width: 100%;
	background: var(--color-primary);
	width: 100%;
	z-index: 5;
	padding: 1rem 0rem;
	transition: top ease-in-out 0.3s;
}

.navbar__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	opacity: 1;
	width: 100%;
	max-width: 95%;
	margin: auto;
}

.navbar__brand {
	font-size: 1.4rem;
	font-weight: 600;
	max-width: 6rem;
	color: var(--color-white);
	-webkit-animation-name: fadeIn;
	-webkit-animation-duration: 0.5s;
	animation-name: fadeIn;
	animation-duration: 0.5s;
}

.navbar__menu {
	display: none;
	justify-content: flex-end;
	width: auto;
	-webkit-animation-name: fadeIn;
	-webkit-animation-duration: 0.5s;
	animation-name: fadeIn;
	animation-duration: 0.5s;
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}

	20% {
		opacity: 0;
	}

	40% {
		opacity: 0.3;
	}

	60% {
		opacity: 0.5;
	}

	80% {
		opacity: 0.9;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	20% {
		opacity: 0;
	}

	40% {
		opacity: 0.3;
	}

	60% {
		opacity: 0.5;
	}

	80% {
		opacity: 0.9;
	}

	100% {
		opacity: 1;
	}
}

.navbar__menu-list {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-around;
	min-width: 488px;
}

.navbar__menu-item a {
	color: #fff;
}

@media(min-width: 768px) {
	.navbar__menu {
		display: flex;
	}
}