 <section>
   <div class="grid columns-1"> 
    <form method="post">
      <label for="email">Email</label>
      <input type="text" name="name" id="name">
      <input type="submit">
    </form>
  </div> 
 </section>
