.dropdown {
    backface-visibility: hidden;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center
}

.dropcontent {
    display: none;
    backface-visibility: hidden;
    position: absolute;
    background-color: #fafafa;
    justify-content: center;
    align-items: center;
    min-width: 5rem;
    overflow: visible;
    top: 3.6rem;
    padding: .5rem;
    border: .5px solid #c3c3c3;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2);
    z-index: 9999999999 !important;
    transition: all 0.3s ease-out;
    animation: top 0.4s;
    opacity: 1;
}
#backdrop {
    position: fixed;
    height: 100vh;
    left: 0;
    bottom: 0;
    width: 100%;
    display:none;
    background: rgba(0, 0, 0, 0.72);
    background: rgba(0, 0, 0, 0);

    z-index: 9999999999;
    cursor: not-allowed;
    
}

@keyframes top {
    0% {
        top: 2.6rem;
        opacity: 0;
    }
    80% {
        top: 3.6rem;
        opacity: 1;
    }
}

.dropdown .arrow {
    background: #fafafa;
    position: absolute;
    left: calc(50% - 2%);
    top: -5px;
    border: solid #b5b5b5;
    border-width: 0 1.2px 1.2px 0;
    padding: 3px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg)
}

.dropdown .dropcontent a {
    text-decoration: none;
    font-size: .8rem;
    text-transform: uppercase;
    padding: .5rem;
    color: #000 !important
}

.dropdown .dropcontent a:hover {
    background: #f3f3f3
}

.chip {
    background: #f4f4f4;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 0.7rem !important;
    font-weight: 100;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black !important;
    border: 1px solid #cbcbcb;
    box-shadow: 0 1px #cbcbcb;
    cursor: pointer;
    transition: 0.3s;
}

.chip:hover {
    background: #fafafa;
}

.chip:active {
    transform: translateY(2px);
    box-shadow: 0 1px #666;
}
.dropdown .drop {
    display: block
}