.button {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	max-width: 300px;
	min-width: 250px;
	width: 100%;
	padding: 16px;
	background: orange;
	color: #fff;
	border-radius: 2px;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	font-weight: 600;
	font-size: 1.1em;
	white-space: normal;
	box-shadow: var(--color-box-shadow);
}

button:hover,
.button:hover {
	opacity: 0.8;
}

button:active,
.button:active {
	opacity: 0.9;
}


.link_item {
	color:var(--color-cat);
	font-weight: 600;
	font-size: 1.4rem;
	-webkit-transition: ease .5s;
	transition: ease .5s;
}



.slider {

	background: white;
	height: 200px;
	margin: auto;
	overflow: hidden;
	position: relative;
	width: 100%;
	/* border: 1px solid red; */
}

.slider::before,
.slider::after {
	content: "";
	height: 10px;
	position: absolute;
	width: 300px;
	z-index: 2;
}

.slider img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	opacity: 0.3;
	height: 80px;
	object-fit: contain;
}

.slider::after {
	right: 0;
	top: 0;
	-webkit-transform: rotateZ(180deg);
	transform: rotateZ(180deg);
}

.slider::before {
	left: 0;
	top: 0;
}

.slider .slide-track {
	-webkit-animation: scroll 60s linear infinite;
	animation: scroll 60s linear infinite;
	display: flex;
	width: calc(200px * 14);
}

.slider .slide {
	height: 80px;
	width: 250px;
	margin: 0 2rem;
	display: flex; 
	justify-content: space-between;
	align-items: center;
}





@-webkit-keyframes scroll {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}

	100% {
		-webkit-transform: translateX(calc(-200px * 7));
		transform: translateX(calc(-200px * 7));
	}
}

@keyframes scroll {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}

	100% {
		-webkit-transform: translateX(calc(-200px * 7));
		transform: translateX(calc(-200px * 7));
	}
}