<style>
{% include "./ui/font.css" %}
{% include "./ui//drawer.css" %}
{% include "./ui/navbar.css" %}
{% include "./ui/banner.css" %}
{% include "./ui/grid.css" %}
{% include "./ui/button.css" %}
{% include "./ui/accordion.css" %}
{% include "./ui/dropdown.css" %}
{% include "./ui/footer.css" %}
{% include "./ui/color.css" %}
{% include "./ui//card.css" %}
{% include "./stylesheet.css" %}
</style>